<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", {title: "Página principal - PC Gamer"}) %>
  <body>
    <%- include("./partials/header") %>
    <main>
      <h2 class="art-destacados">ARTICULOS DESTACADOS</h2>
      <section class="section1-index">
        <% artDestacadosProducts.forEach((prod)=>{ %>
          <div>
            <a href="/detalle-producto/<%= prod.id %>" style="text-decoration:none" class= "ofertas-style">
            <article class="producto">
              <img src=/img/<%= prod.image%>>
              <div class="producto-contenido">
                <p><%= prod.price %></p>
                <p class="title"><%= prod.name %></p>
                <p class="descuentos"><%= prod.discount %></p>
              </div>
            </a>
            </article>
          </div>
          <% }) %>
          </article>
        </div>
      </section>
      <h2 class="ultima-visita-ofertas">OFERTAS</h2>
      <section class="section2-index">
        <% offerProducts.forEach((prod)=>{ %>
        <div>
          <a href="/detalle-producto/<%= prod.id %>" style="text-decoration:none" class= "ofertas-style">
          <article class="producto">
            <img src=/img/<%= prod.image%>>
            <div class="producto-contenido">
              <p><%= prod.price %></p>
              <p class="title"><%= prod.name %></p>
              <p class="descuentos"><%= prod.discount %></p>
            </div>
          </a>
          </article>
        </div>
        <% }) %>
        <button class="style-arrow-left">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="style-arrow-right">
          <i class="fas fa-chevron-right"></i>
        </button>
        <div class="style-wpp">
          <a
            href="https://web.whatsapp.com/send?phone=5491133226951&text=hola"
            class="style-wasap"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
