<%- include("./partials/head", {title: "Detalle de producto - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main>
      <!-- IMAGENES PRODUCTO-->
      <div class="flex-section1y2">
      <section class="section1">
        <img
          class="imagen-principal"
          src="/img/<%= product.image %>"
          alt="imagenPrincipal"
        />
        <div class="contenedor-imagenesB">
          <img class="imagenB" src="/img/imagenB.jpg" alt="otraImagen" />
          <img class="imagenB" src="/img/imagenC.jpg" alt="otraImagen" />
          <img class="imagenB" src="/img/imagenD.jpg" alt="otraImagen" />
        </div>
      </section>
      <!-- INFO PRODUCTO-->
      <section class="section2">
        <h2 class="nombre-producto"><%= product.name %></h2>
        <div class="contenedor-info-producto">
          <h3 class="subtitulo-caracteristicas">CARACTERISTICAS</h3>
          <li class="li-caracteristicas"><%= product.price %></li>
          <li class="li-caracteristicas"><%= product.description %></li>
          <li class="li-caracteristicas"></li>
          <li class="li-caracteristicas"></li>
          <div class="contenedor-txt-verde">
            <p><i class="fas fa-shield-alt"></i> Garantía: 36 meses</p>
            <p><i class="fas fa-check"></i> Stock Disponible</p>
            <p><i class="fas fa-truck-moving"></i> Envíos a todo el país</p>
          </div>
          <button class="boton-compra" type="button" value="text">
            <i class="fas fa-shopping-cart"></i>
            COMPRAR
          </button>
          <button class="boton-carrito" type="button" value="text">
            <i class="fas fa-cart-arrow-down"></i>
            Agregar al Carrito
          </button>
            <form action="/products/<%= product.id %>/edit" method="GET">
                <button class="boton-editar" type="submit" value="text">
                <i class="fas fa-edit"></i>
                Editar producto
                </button>
            </form>
        </div>
      </section>
    </div>
      <!-- TAMBIEN PUEDE INTERESARTE-->
      <div class="section3">
        <h2 class="subtitulo-intereses">También puede interesarte:</h2>
        <section class="productos-de-interes">
          <article class="box-articulo-interes">
            <img
              class="img-producto-interes"
              src="/img/tpiA.jpg"
              alt="puede interesarte"
            />
            <div class="contenedor-infoproducto-interes">
              <p class="precio">$40.000</p>
              <p class="nombre-producto-interes">
                Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite
              </p>
            </div>
          </article>
          <article class="box-articulo-interes">
            <img
              class="img-producto-interes"
              src="/img/tpiB.jpg"
              alt="puede interesarte"
            />
            <div class="contenedor-infoproducto-interes">
              <p class="precio">$40.000</p>
              <p class="nombre-producto-interes">
                Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite
              </p>
            </div>
          </article>
          <article class="box-articulo-interes">
            <img
              class="img-producto-interes"
              src="/img/tpiC.jpg"
              alt="puede interesarte"
            />
            <div class="contenedor-infoproducto-interes">
              <p class="precio">$40.000</p>
              <p class="nombre-producto-interes">
                Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite
              </p>
            </div>
          </article>
          <article class="box-articulo-interes">
            <img
              class="img-producto-interes"
              src="/img/tpiD.jpg"
              alt="puede interesarte"
            />
            <div class="contenedor-infoproducto-interes">
              <p class="precio">$40.000</p>
              <p class="nombre-producto-interes">
                Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite
              </p>
            </div>
          </article>
        </section>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
