<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("./partials/head", {title: "Editar producto - PC Gamer"}) %>
</head>

<body>
    <%- include("./partials/header") %>
    <main>
        <div>
            <form class="form-crearProducto" action="/products/<%= product.id%>/edit?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <h2 class="titulo-micompra">
                    Estás editando el producto: <i><%= product.name %></i>
                </h2>
                <div>
                    <div class="box-subtitulosCrearProd">
                        <label for="name">Nombre del producto:</label>
                        <input class="input-crearProducto" type="text" id="name" name="name"
                            placeholder="Teclado Mecánico" value="<%= product.name %>" />
                        <% if(errors && errors.name) {%>
                        <span class="feedback-crearProducto"><%= errors.name.msg%></span>
                        <% } %>
                    </div>
                    <div class="box-subtitulosCrearProd">
                        <label for="price">Precio del producto:</label>
                        <div>
                            <span class="before-symbol">$</span>
                            <input class="input-crearProducto" type="text" id="price" name="price" min="0"
                                placeholder="400.000" value="<%= product.price %>" />
                        </div>
                        <% if(errors && errors.price) {%>
                        <span class="feedback-crearProducto"><%= errors.price.msg%></span>
                        <% } %>
                    </div>
                    <div class="box-subtitulosCrearProd">
                        <label for="discount">Descuento:</label>
                        <div>
                            <span class="before-symbol">%</span>
                            <input class="input-crearProducto" type="number" min="0" max="100" id="discount"
                                name="discount" placeholder="15" value="<%= parseInt(product.discount)%>" />
                        </div>
                        <% if(errors && errors.discount) {%>
                        <span class="feedback-crearProducto"><%= errors.discount.msg%></span>
                        <% } %>

                    </div>
                    <div class="box-categoria">
                        <label for="category">Categoría:</label>
                        <select name="category" id="category">
                            <option value="">Elegí</option>
                            <% for(let category in categories) {%>
                            <option value=<%= categories[category].id %>
                                <%= product.categoryData.id == categories[category].id ? "Selected" : ""  %>>
                                <%= categories[category].name %>
                            </option>
                            <% } %>
                        </select>
                        <% if(errors && errors.category) {%>
                        <span class="feedback-crearProducto"><%= errors.category.msg%></span>
                        <% } %>
                    </div>
                    <div class="box-descripcion">
                        <label for="description">Descripción:</label>
                        <textarea name="description" id="description" rows="10"><%=product.description%></textarea>
                    </div>
                    <div class="box-categoria">
                        <label for="taxonomy">Taxonomía</label>
                        <select name="taxonomy" id="taxonomy">
                            <option value="">Elegí</option>
                            <option value="Hardware" <%= product.subTaxonomy.taxonomy_id == 1 ? "selected" : "" %>>
                                Hardware
                            </option>
                            <option value="Periféricos" <%= product.subTaxonomy.taxonomy_id == 2 ? "selected" : "" %>>
                                Periféricos</option>
                        </select>
                        <select class="<%= product.taxonomy[0] == "Hardware" ? "d-block" : "d-none" %>"
                            name="subTaxonomy" id="taxonomyHardware">
                            <option value="">Elegí</option>
                            <% for(let component of hardware) {%>
                            <option value=<%= component.id %>
                                <%= product.subTaxonomy.id == component.id ? "selected" : "" %>>
                                <%= component.name %></option>
                            <% } %>
                        </select>
                        <select class="<%= product.taxonomy[0] == "Periféricos" ? "d-block" : "d-none" %>"
                            name="subTaxonomy" id="taxonomyPeripherals">
                            <option value="">Elegí</option>
                            <% for(let peripheral of peripherals) {%>
                            <option value=<%= peripheral.id %>
                                <%= product.subTaxonomy.id == peripheral.id ? "selected" : "" %>>
                                <%= peripheral.name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="img-crearProducto">
                        <img src="/img/products-img/<%=product.image%>" alt="product image" id="imageImg">
                        <div>
                            <label for="image">Cambiar imagen</label>
                            <div class="img-container">
                                <input type="file" name="image" id="image">
                            </div>
                        </div>
                    </div>
                    <div class="box-boton-guardarProducto">
                        <button class="boton-crearProducto" type="submit">
                            Editar producto
                        </button>
                    </div>
                </div>
                <div class="errores">
                    <ul class="no-style"></ul>
                </div>
            </form>
        </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
    <script src="/scripts/taxOptions.js"></script>
    <script src="/scripts/validationProduct.js"></script>
    <script src="/scripts/imgInputPreview.js"></script>
</body>

</html>