<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {title: "Página principal - PC Gamer"}) %>

<body>
    <%- include("./partials/header") %>
    <main>
        <div class="text-center">
            <a class="noLinkStyle titulo mb-5" href="/products">Lista de productos</a>
        </div>
        <section id="carouselArtDestacados" class="carousel slide producto w-md my-5" data-bs-ride="carousel">
            <h2 class="titulo">ARTÍCULOS DESTACADOS</h2>
            <div class="carousel-inner container-fluid">
                <% for(let i = 0; i < artDestacadosProducts.length; i++) { %>
                <a href="/products/<%= artDestacadosProducts[i].id %>"
                    class="carousel-item <%= i == 0 ? "active" : "" %> ofertas-style" style="text-decoration: none;">
                    <div class="row justify-content-center">
                        <img src="/img/products-img/<%=artDestacadosProducts[i].image%>"
                            class="d-block w-50 col-md-5 col-12 carrousel-img "
                            alt="<%= artDestacadosProducts[i].name %>">
                        <div class="col-md-4 col-12 mt-5">
                            <p><%= artDestacadosProducts[i].price %></p>
                            <p class="title" style="text-align: start;"><%= artDestacadosProducts[i].name %></p>
                            <p class="descuentos" style="height: 1rem;"><%= artDestacadosProducts[i].discount %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselArtDestacados"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselArtDestacados"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>



        <section id="carouselOfertas" class="carousel carousel-dark slide max-w-1200 mb-5" data-bs-ride="false"
            data-bs-wrap="false">
            <h2 class="titulo">OFERTAS</h2>
            <div class="carousel-inner container-fluid">
                <% for(let i = 0; i < offerProducts.length; i+=2) { %>
                <div class="carousel-item <%= i == 0 ? "active" : "" %>">
                    <div class="row justify-content-center">
                        <a href="/products/<%= offerProducts[i].id %>" style="text-decoration:none"
                            class="ofertas-style  col-md-5 col-12 mt-5">
                            <article class="producto ">
                                <img src="/img/products-img/<%= offerProducts[i].image%>" class="carrousel-img ">
                                <div class="producto-contenido my-3">
                                    <p><%= offerProducts[i].price %></p>
                                    <p class="title"><%= offerProducts[i].name %></p>
                                    <p class="descuentos"><%= offerProducts[i].discount %></p>
                                </div>
                            </article>
                        </a>
                        <% if(offerProducts[i+1]) {%>
                        <!-- BUG!!! Ver consola Haciendo trampa al esconderla pues algunos productos no se van a ver, para resolver -->

                        <a href="/products/<%= offerProducts[i+1].id %>" style="text-decoration:none"
                            class="ofertas-style  col-md-5 col-12 d-none  d-md-block mt-5">
                            <article class="producto">
                                <img src="/img/products-img/<%= offerProducts[i+1].image%>" class="carrousel-img ">
                                <div class="producto-contenido my-3">
                                    <p><%= offerProducts[i+1].price %></p>
                                    <p class="title"><%= offerProducts[i+1].name %></p>
                                    <p class="descuentos"><%= offerProducts[i+1].discount %></p>
                                </div>
                            </article>
                        </a>
                        <% } %>
                    </div>

                </div>
                <% } %>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselOfertas" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselOfertas" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>

        <section id="" class="custom-carousel mb-5">
            <h2 class="titulo">Hardware</h2>
            <div class="d-flex align-items-center justify-content-center container-fluid mb-3">
                <div class="carousel-control-prev-icon custom" aria-hidden="true"></div>
                <div class="hide-overflow">
                    <div class="row my-2 custom-stick">
                        <% for(let item of hardware) {%>
                        <div class="col-lg-3 col-md-4 col-sm-6 c-card">
                            <a href="/products/<%= item.id %>"
                                class="noLinkStyle p-1 d-flex flex-column h-100 producto ">
                                <div
                                    class="d-flex align-items-center justify-content-center img-thumbnail mb-3 h-50 carousel-img-container">
                                    <img src="/img/products-img/<%= item.image %>" alt="">
                                </div>
                                <div class="">
                                    <h5><%= item.name %></h5>
                                    <p><%= item.price %></p>
                                    <p class="h-50 cut-long-text"><%= item.description %></p>
                                </div>
                            </a>
                        </div>
                        <% } %>
                        <div class="col-lg-3 col-md-4 col-sm-6 c-card">
                            <a href="/products/search?search=hardware"
                                class="noLinkStyle p-1 d-flex flex-column h-100 producto ">
                                <div
                                    class="d-flex align-items-center justify-content-center img-thumbnail mb-3 h-50 carousel-img-container">
                                    <img src="/img/products-img/productDefault.png" alt="">
                                </div>
                                <div class="">
                                    <h5>Ver más hardware</h5>
                                    <p></p>
                                    <p class="h-50 cut-long-text"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-control-next-icon custom " aria-hidden="true"></div>
            </div>
        </section>

        <section id="" class="custom-carousel mb-5">
            <h2 class="titulo">Periféricos</h2>
            <div class="d-flex align-items-center justify-content-center container-fluid mb-3">
                <div class="carousel-control-prev-icon custom " aria-hidden="true"></div>
                <div class="hide-overflow">
                    <div class="row my-2 custom-stick">
                        <% for(let item of peripherals) {%>
                        <div class="col-lg-3 col-md-4 col-sm-6 c-card">
                            <a href="/products/<%= item.id %>"
                                class="noLinkStyle p-1 d-flex flex-column h-100 producto ">
                                <div
                                    class="d-flex align-items-center justify-content-center img-thumbnail mb-3 h-50 carousel-img-container">
                                    <img src="/img/products-img/<%= item.image %>" alt="">
                                </div>
                                <div class="">
                                    <h5><%= item.name %></h5>
                                    <p><%= item.price %></p>
                                    <p class="h-50 cut-long-text"><%= item.description %></p>
                                </div>
                            </a>
                        </div>
                        <% } %>
                        <div class="col-lg-3 col-md-4 col-sm-6 c-card">
                            <a href="/products/search?search=peripherals"
                                class="noLinkStyle p-1 d-flex flex-column h-100 producto ">
                                <div
                                    class="d-flex align-items-center justify-content-center img-thumbnail mb-3 h-50 carousel-img-container">
                                    <img src="/img/products-img/productDefault.png" alt="">
                                </div>
                                <div class="">
                                    <h5>Ver más periféricos</h5>
                                    <p></p>
                                    <p class="h-50 cut-long-text"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-control-next-icon custom" aria-hidden="true"></div>
            </div>
        </section>






        <div class="style-wpp">
            <a href="https://web.whatsapp.com/send?phone=5491133226951&text=hola" class="style-wasap">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </main>
    <%- include("./partials/footer") %>
    <script src="/scripts/carousel.js"></script>
</body>

</html>