<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {title: "Productos"}) %>

<body>
    <%- include("./partials/header") %>
    <main>
        <h2 class="titulo">Lista de productos<%=locals?.search? ` buscados: ${search}` : ""  %> </h2>
        <div class="row my-2">
            <% for(let item of products) {%>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/products/<%= item.id %>" class="noLinkStyle p-1 d-flex flex-column h-100 producto ">
                    <div
                        class="d-flex align-items-center justify-content-center img-thumbnail mb-3 h-50 carousel-img-container">
                        <img src="/img/products-img/<%= item.image %>" alt="">
                    </div>
                    <div class="">
                        <h5><%= item.name %></h5>
                        <p><%= item.price %></p>
                        <p class="h-50 cut-long-text"><%= item.description %></p>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>